@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.app {
    background-color: darkgray;
}
.movie-app {
    background-color: ghostwhite;
    width: 1010px;
    min-height: 100vh;
}
.movie-app__container {
    margin: auto;
    padding: 15px;
}
.movie-list {
    display: flex;
    flex-wrap: wrap;
    
}
.movie-list__item {
    margin: 18px;
}
.movie-card {
    display: flex;
    font-family: 'Inter', sans-serif;
    width: 454px;
    height: 281px;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.movie-card-img {
    height: 281px;
    min-width: 183px;
}
.movie-card-img img {
    width: 100%;
    height: 100%;
}
.movie-card-desc {
    padding: 10px 18px 10px 18px;
    position: relative;
    min-width: 271px;
}
.movie-card-desc__item {
    margin-bottom: 6px;
}
.movie-card-desc__item:nth-child(4) {
    margin-bottom: 0px;
}
.movie-card-desc-title {
    font-size: 20px;
    line-height: 28px;
    width: 85%;
}
.movie-card-desc-date {
    font-size: 12px;
    line-height: 22px;
}
.movie-card-desc-tag {
    font-size: 12px;
    line-height: 15px;
}
.movie-card-desc-text {
    font-size: 12px;
    line-height: 22px;
    max-height: 114px;
    overflow: hidden;
}
.movie-card-desc-rate {
    position: absolute;
    bottom: 0;
}
.movie-app__movie-input {
    margin: 15px;
}
.movie-app__movie-pagination {
    margin: 15px;
    text-align: center;
}
.movie-card-desc-vote {
    position: absolute;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    right: 10px;
}
.ant-tag {
    font-size: 10px;
    padding: 0 5px;
    line-height: 16px;
    margin-bottom: 4px;
    margin-right: 4px;
}
@media (max-width: 1000px) {
    .movie-app {
        width: 100%;
    }
}
@media (max-width: 500px) {
    .movie-card{
        width: 360px;
        height: 251px;
    }
    .movie-card-img {
        height: 181px;
        min-width: 93px;
    }
    .movie-card-desc-text {
        line-height: 18px;
        max-height: 94px;
    }
    .movie-card-desc {
        padding: 8px 12px 8px 12px;
    }
    .movie-card-desc-title {
        font-size: 18px;
        line-height: 24px;
    }
    .movie-card-desc-rate {
        left: -10%;
    }
}